<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
        </handlers>
        <aspNetCore processPath=".\schedule_gpt.exe">
            <environmentVariables>
                <environmentVariable name="PORT" value="8001" />
                <environmentVariable name="DB_HOST" value="localhost" />
                <environmentVariable name="DB_PORT" value="1433" />
                <environmentVariable name="DB_USER" value="sa" />
                <environmentVariable name="DB_PASSWORD" value="S3curep@ssw0rd" />
                <environmentVariable name="DB_NAME" value="schedule-db" />
                <environmentVariable name="SSLMode" value="disable" />
                <environmentVariable name="OLLAMA_HOST" value="http://127.0.0.1:11434" />
            </environmentVariables>
        </aspNetCore>
    </system.webServer>
</configuration>